<div class="container main-container {{if this.isTwoColumns "main-container-layout-cols" "main-container-layout-list"}}">
  <header class="d-flex justify-content-between align-items-center">
    <h1 class="pt-3 h5">TBC Classic Mats Calc</h1>
    <button type="button" class="btn btn-light btn-sm setting-btn d-none d-md-block" {{on "click" this.toggleLayout}}>
      <Icon @name={{if this.isTwoColumns "columns" "list"}} />
    </button>
  </header>

  <Alert
    @visible={{this.isWelcomeMessageVisible}}
    @onDismiss={{this.hideWelcomeMessage}}
  >
    <strong>Welcome!</strong> This is a simple calculator to determine how many materials/reagents you need to gather/buy for your raid consumes.
  </Alert>

  <Alert
    @visible={{this.isHeadsUpMessageVisible}}
    @onDismiss={{this.hideHeadsUpMessage}}
  >
    <strong>Heads-up!</strong> Some items are already hidden, just press the <Icon @name="config" /> button to select what consumables you want to see.
  </Alert>

  <div class="row row-cols-1 {{if this.isTwoColumns "row-cols-md-2"}}">
    <div class="col mb-3">
      <CraftablesList
        @craftables={{this.craftables}}
        @onChangeCraftables={{this.handleCraftablesChange}}
      />
    </div>

    <div class="col mb-3">
      <ReagentsList
        @shopList={{this.shopList}}
      />
    </div>
  </div>

  <footer class="text-center small mb-3">
    <p class="text-muted m-0">
      Forked by grpatter, https://github.com/grpatter/wow-tbc-classic-mats-calc/tree/vanilla-andprots
    </p>
    <p class="text-center subfooter small mb-0 mt-2">
      <a href="#" {{on "click" this.clearData}}>Clear stored data</a> | Version {{app-version versionOnly=true}}
    </p>
  </footer>
</div>
